 <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>969 Piedmont Avenue
                            <br>Oakland, CA 96010</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Find Us On The Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                       </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Exit Zer0 Design</h3>
                        <p>Where Design Meets Technology</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Exit Zer0 Designs 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--End Footer Section -->
